p {
  color:black;
}

.job {
  background-color: lightgrey;
  padding:10px
}

.education {
  background-color: lightgrey;
  padding:10px
}

h3 {
  color: #61a3d7;
}

h5 {
  color: #054407;
}

#container{
  margin-top: 15px;
  margin-left: 125px;
  margin-right: 125px;
  
  padding: 25px 125px 25px 125px;
  
  border-radius: 75px;
  background-color: #61a3d7;
  
  text-align: left;
}

hr { 
  display: block;
  margin-end: auto;
  margin-start: auto;
  border: 10px inset;
  overflow: hidden;
  margin-before: 0.5em;
  margin-after: 0.5em;
}
