  
p {
  color:black;
}

.job {
  background-color: lightgrey;
  padding:20px
}

.education {
  background-color: lightgrey;
  padding:10px
}

h3 {
  color: #61a3d7;
}

h5 {
  color: #054407;
}

#container{
  margin-top: 15px;
  margin-left: 125px;
  margin-right: 125px;
  
  padding: 25px 125px 10px 125px;
  
  border-radius: 75px;
  background-color: #61a3d7;
  
  text-align: left;
}
